<form fxLayout="row wrap" [formGroup]="searchForm" (ngSubmit)="submitEvent.next()">
	<!-- Year -->
	<div fxFlex>
		<mat-form-field>
			<input type="text" placeholder="Year" matInput formControlName="year" [matAutocomplete]="yearAutocomplete" />
		</mat-form-field>
		<mat-autocomplete #yearAutocomplete="matAutocomplete">
			<mat-option *ngFor="let option of yearOptions; trackBy: trackItemFn" [value]="option">{{ option }}</mat-option>
		</mat-autocomplete>
	</div>
	<!-- Hero -->
	<div fxFlex>
		<mat-form-field>
			<input type="text" placeholder="Hero" matInput formControlName="hero" [matAutocomplete]="heroAutocomplete" />
		</mat-form-field>
		<mat-autocomplete #heroAutocomplete="matAutocomplete">
			<mat-option *ngFor="let option of heroOptions; trackBy: trackItemFn" [value]="option">{{ option }}</mat-option>
		</mat-autocomplete>
	</div>

	<!-- Hero -->
	<div fxFlex>
		<mat-form-field>
			<input type="text" placeholder="Movie" matInput formControlName="movie" [matAutocomplete]="movieAutocomplete" />
		</mat-form-field>
		<mat-autocomplete #movieAutocomplete="matAutocomplete">
			<mat-option *ngFor="let option of movieOptions; trackBy: trackItemFn" [value]="option">{{ option }}</mat-option>
		</mat-autocomplete>
	</div>

	<button [hidden]="true" type="submit">&nbsp;</button>
</form>
