/*
IMPORTANT: Stark styles are provided was PostCSS styles so they should be imported in a PCSS file!
*/

/* Stark variables */
@import "../../node_modules/@nationalbankbelgium/stark-ui/assets/styles/_variables.pcss";

/* Stark components */
@import "../../node_modules/@nationalbankbelgium/stark-ui/src/modules/app-logo/components/app-logo.component.pcss";
