<mat-form-field>
	<mat-label>Choose a date</mat-label>
	<input matInput
		   id="picker-ng-model"
		   name="picker-ng-model"
		   [matDatepicker]="datepickerNgModel"
		   [(ngModel)]="ngModelDate"
		   [min]="minDate"
		   [max]="maxDate"
		   #pickerNgModel="ngModel"
		   required
		   [starkDateMask]="maskConfig"
		   (dateChange)="onDateChanged($event)"
	>
	<mat-hint>{{ maskConfig.format }}</mat-hint>
	<mat-datepicker #datepickerNgModel></mat-datepicker>
	<mat-datepicker-toggle matIconSuffix [for]="datepickerNgModel"></mat-datepicker-toggle>
	<mat-error *ngIf="pickerNgModel.errors && pickerNgModel.errors['required']">This is required</mat-error>
	<mat-error *ngIf="pickerNgModel.errors && pickerNgModel.errors['matDatepickerMin']">Min date</mat-error>
	<mat-error *ngIf="pickerNgModel.errors && pickerNgModel.errors['matDatepickerMax']">Max date</mat-error>
</mat-form-field>
<div>
	<mat-checkbox (change)="disabled = !disabled" [checked]="disabled">
		{{ "SHOWCASE.COMMON.DISABLED" | translate }}
	</mat-checkbox>
</div>
