$mat-light-theme-background: $backgrounds;
$mat-light-theme-foreground: $foregrounds;

@if variable-exists(stark-base-theme) {
  $base-theme: map-merge($base-theme, $stark-base-theme);

  @if map-has-key($stark-base-theme, backgrounds) {
    $mat-light-theme-background: map-merge($backgrounds, map-get($stark-base-theme, backgrounds));
  }

  @if map-has-key($stark-base-theme, foregrounds) {
    $mat-light-theme-foreground: map-merge($foregrounds, map-get($stark-base-theme, foregrounds));
  }
}

$theme: mat-light-theme(
  map-get($base-theme, primary-palette),
  map-get($base-theme, accent-palette),
  map-get($base-theme, warn-palette)
) !default;
@include angular-material-theme($theme);
