<h1 class="mat-display-3" translate>SHOWCASE.DEMO.GENERIC_SEARCH.TITLE</h1>
<section class="stark-section">
	<h1 translate>SHOWCASE.DEMO.SHARED.EXAMPLE_VIEWER_LIST</h1>
	<example-viewer [extensions]="[]" [exampleTitle]="'SHOWCASE.DEMO.LANGUAGE_SELECTOR.DROPDOWN' | translate">
		<stark-generic-search formHtmlId="demo-generic-search-form" (searchTriggered)="onSearch($event)" (resetTriggered)="onReset($event)">
			<demo-generic-search-form
				#searchForm
				[searchCriteria]="workingCopy"
				(workingCopyChanged)="updateWorkingCopy($event)"
			></demo-generic-search-form>
		</stark-generic-search>
		<stark-table
			htmlId="demo-generic-search-table"
			[columnProperties]="columnsProperties"
			[paginationConfig]="paginationConfig"
			[data]="searchResults"
			[starkProgressIndicator]="progressIndicatorConfig"
		></stark-table>
	</example-viewer>
</section>
