/* ============================================================================== */
/*  S t a r k   M i n i m a p                                                     */
/* ============================================================================== */
/* stark-ui: src/modules/minimap/components/minimap-theme.scss */

@use "sass:map";
@use "~@angular/material" as mat;
@use "../../../../styles/old-variables" as old-vars;

@mixin stark-minimap-theme($material-theme-config, $stark-theme-config) {
  .stark-minimap {
    .stark-minimap-dots {
      i {
        background-color: old-vars.$secondary-dark-text-color;
        opacity: 0.2;
      }

      .selected i {
        opacity: 1;
      }
    }
  }

  .stark-primary.stark-minimap {
    .stark-minimap-dots {
      i {
        background-color: mat.get-color-from-palette(map.get($material-theme-config, primary), 500);
      }
    }
  }

  .stark-accent.stark-minimap {
    .stark-minimap-dots {
      i {
        background-color: mat.get-color-from-palette(map.get($material-theme-config, accent), 500);
      }
    }
  }

  .stark-warning.stark-minimap {
    .stark-minimap-dots {
      i {
        background-color: mat.get-color-from-palette(map.get($material-theme-config, warn), 500);
      }
    }
  }
}

/* End stark-ui: src/modules/minimap/components/minimap-theme.scss */
