/* ============================================================================== */
/*  S t a r k   M i n i m a p                                                     */
/* ============================================================================== */
/* stark-ui: src/modules/minimap/components/minimap.component.scss */

@mixin stark-minimap() {
  .stark-minimap {
    display: flex;

    button.mat-mdc-icon-button .mat-icon {
      transition: transform 300ms linear;

      &.open {
        transform: rotate(-180deg);
      }
    }

    .stark-minimap-dots {
      display: flex;
      height: 40px;
      align-items: center;

      & > * {
        margin-right: 4px;

        &:last-child {
          margin-right: 0;
        }
      }

      .stark-minimap-dot {
        i {
          display: block;
          width: 4px;
          height: 4px;
        }
      }
    }
  }

  // The mat-menu is rendered outside of the stark-minimap component
  .mat-mdc-menu-content .mat-mdc-menu-item.stark-minimap-menu-item {
    height: 35px;
    line-height: 35px;
  }
}

/* END stark-ui: src/modules/minimap/components/minimap.component.scss */
