:host ::ng-deep {
  .progress-indicator-example {
    .mat-card-content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  button.progress-indicator-button {
    padding: 0 35px 0 35px;
    margin-bottom: 15px;
  }

  .progress-indicator-view {
    border: 1px solid rgb(0, 102, 153);
    padding: 22px 30px 22px 30px;
  }
}
