{
"printWidth":140,
"tabWidth":4,
"useTabs":true,
"trailingComma":"none",
"overrides": [
        {
            "files": "*.{pcss,scss,css}",
            "options": {
                "tabWidth": 2,
                "useTabs":false
            }
        }
    ]
}
