language: node_js
node_js:
  - "8"
  - "6"

dist: trusty
sudo: false # better for performance

before_install:
  - export TZ=Europe/Brussels
  # TODO remove this variable as it's probably not needed (defined by travis by default?): https://docs.travis-ci.com/user/environment-variables/
  - TRAVIS=1 # used by build.sh
  - npm i -g npm@5.8.0
  - if [[ $TRAVIS_BRANCH == greenkeeper* ]]; then npm i -g greenkeeper-lockfile; fi
  # This ensures that we are authenticated without requiring to have an actual .npmrc file within the project
  - 'echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> ~/.npmrc'

install:
  # Create file & folder for Travis logs
  # cfr scripts/_travis-fold.sh
  - mkdir -p $LOGS_DIR
  - touch $LOGS_DIR/build-perf.log  
  - if [[ $TRAVIS_BRANCH == greenkeeper* ]]; then npm i --no-optional; else npm ci; fi
  - if [[ $TRAVIS_BRANCH == greenkeeper* ]]; then npm run install:travis:all; else npm run install:ci:all; fi

env:
  global:
    - LOGS_DIR=/tmp/stark/logs
    - LOGS_FILE=/tmp/stark/logs/build-perf.log

branches:
  only:
  - master
  - /^greenkeeper/.*$/
  - /^\d+\.\d+\.\d(-alpha\.\d+|-beta\.\d+)?$/

cache:
  directories:
    - $HOME/.npm

before_script:
  - if [[ $TRAVIS_BRANCH == greenkeeper* ]]; then greenkeeper-lockfile-update; fi

# Not needed since we use Puppeteer in karma.conf.ci.js
# It downloads Chrome itself and works with or without Travis
#addons:
#  chrome: stable

script:
  - npm run lint:all
  - npm run test:ci:all
  - npm run docs:coverage
  - npm run build:showcase:ghpages
  - npm run docs:publish
  - npm run release:publish
  - bash ./scripts/ci/print-logs.sh

after_success:
  - npm run test:ci:coveralls:combined
  - if [[ $TRAVIS_BRANCH == greenkeeper* ]]; then greenkeeper-lockfile-upload; fi
