@import "~@angular/material/theming";

.example-transcluded {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.shadowed {
  .header {
    padding: 10px 15px;
    @include mat-elevation(2);
  }
}

.header {
  h1 {
    margin-bottom: 0;
  }
}

.even td {
  background-color: #d1e1ff;
}

.danger {
  color: #7c002c;
}

.warning {
  color: #ff9800;
}

.success {
  color: #3c9f40;
}

.bold {
  font-weight: bold;
}
