@use "sass:map";
@use "~@angular/material" as mat;
@use "../theming/material-palettes" as stark-material-palette;

$primary-palette: stark-material-palette.$primary-palette !default;

@mixin stark-card-theme() {
  .mat-card.stark-card .mat-card-header {
    background-color: mat.get-color-from-palette($primary-palette, 800);
    color: mat.get-contrast-color-from-palette($primary-palette, 800);
  }
}
