<h1 class="mat-headline-2" translate>SHOWCASE.DEMO.TABLE.TITLE</h1>
<section class="stark-section">
	<h1 translate>SHOWCASE.DEMO.SHARED.EXAMPLE_VIEWER_LIST</h1>
	<example-viewer
		id="regular"
		exampleTitle="SHOWCASE.DEMO.TABLE.REGULAR"
		filesPath="table/regular/table"
		[extensions]="['HTML', 'TS', 'SCSS']"
	>
		<showcase-table-regular></showcase-table-regular>
	</example-viewer>

	<example-viewer
		id="items-per-page-selection"
		exampleTitle="SHOWCASE.DEMO.TABLE.WITH_ITEMS_PER_PAGE_SELECTOR"
		filesPath="table/with-items-per-page-selector/table"
		[extensions]="['HTML', 'TS']"
	>
		<showcase-table-with-items-per-page-selector></showcase-table-with-items-per-page-selector>
	</example-viewer>

	<example-viewer
		id="selection"
		exampleTitle="SHOWCASE.DEMO.TABLE.WITH_SELECTION"
		filesPath="table/with-selection/table"
		[extensions]="['HTML', 'TS']"
	>
		<showcase-table-with-selection></showcase-table-with-selection>
	</example-viewer>

	<example-viewer
		id="custom-actions"
		exampleTitle="SHOWCASE.DEMO.TABLE.WITH_CUSTOM_ACTIONS"
		filesPath="table/with-custom-actions/table"
		[extensions]="['HTML', 'TS']"
	>
		<showcase-table-with-custom-actions></showcase-table-with-custom-actions>
	</example-viewer>

	<example-viewer
		id="transcluded-action-bar"
		exampleTitle="SHOWCASE.DEMO.TABLE.WITH_TRANSCLUDED_ACTION_BAR"
		filesPath="table/with-transcluded-action-bar/table"
		[extensions]="['HTML', 'TS', 'SCSS']"
	>
		<showcase-table-with-transcluded-action-bar></showcase-table-with-transcluded-action-bar>
	</example-viewer>

	<example-viewer
		id="fixed-header"
		exampleTitle="SHOWCASE.DEMO.TABLE.WITH_FIXED_HEADER"
		filesPath="table/with-fixed-header/table"
		[extensions]="['HTML', 'TS']"
	>
		<showcase-table-with-fixed-header></showcase-table-with-fixed-header>
	</example-viewer>

	<example-viewer
		id="fixed-actions"
		exampleTitle="SHOWCASE.DEMO.TABLE.WITH_FIXED_ACTIONS"
		filesPath="table/with-fixed-actions/table"
		[extensions]="['HTML', 'TS', 'SCSS']"
	>
		<showcase-table-with-fixed-actions></showcase-table-with-fixed-actions>
	</example-viewer>

	<example-viewer
		id="custom-styling"
		exampleTitle="SHOWCASE.DEMO.TABLE.WITH_CUSTOM_STYLING"
		filesPath="table/with-custom-styling/table"
		[extensions]="['HTML', 'TS', 'SCSS']"
	>
		<showcase-table-with-custom-styling></showcase-table-with-custom-styling>
	</example-viewer>

	<example-viewer
		id="collapse"
		exampleTitle="SHOWCASE.DEMO.TABLE.WITH_CUSTOM_CELL_RENDERING"
		filesPath="table/with-custom-cell-rendering/table"
		[extensions]="['HTML', 'TS']"
	>
		<showcase-table-with-custom-cell-rendering></showcase-table-with-custom-cell-rendering>
	</example-viewer>

	<example-viewer
		id="footer"
		exampleTitle="SHOWCASE.DEMO.TABLE.WITH_FOOTER"
		filesPath="table/with-footer/table"
		[extensions]="['HTML', 'TS', 'SCSS']"
	>
		<showcase-table-with-footer></showcase-table-with-footer>
	</example-viewer>
	<example-viewer
		id="collapse"
		exampleTitle="SHOWCASE.DEMO.TABLE.WITH_COLLAPSIBLE_ROWS"
		filesPath="table/with-collapsible-rows/table"
		[extensions]="['HTML', 'TS', 'SCSS']"
	>
		<showcase-table-with-collapsible-rows></showcase-table-with-collapsible-rows>
	</example-viewer>
</section>
<stark-reference-block [links]="referenceList"></stark-reference-block>
