/* ============================================================================== */
/*  S t a r k   R o u t e 	 S e a r c h    T h e m e                              */
/* ============================================================================== */
/* stark-ui: src/modules/route-search/components/route-search-theme.css */
.search-field {
  .mat-form-field-wrapper {
    border: 1px solid mat-color($grey-palette, 400);
    background-color: #fff;
    color: mat-color($grey-palette, 900);
  }
}

button.search-button {
  background-color: mat-color($accent-palette, 500);
  /* stylelint-disable-next-line value-keyword-case */
  color: mat-color($grey-palette, A100);
}

/* END stark-ui: src/modules/route-search/components/route-search-theme.scss */
