@use "../../../../styles/old-variables" as old-vars;

@mixin stark-toast-notification-theme() {
  .stark-toast {
    &.stark-toast-message-error {
      background-color: old-vars.$message-alert-700;
    }

    &.stark-toast-message-warning {
      background-color: old-vars.$message-warning-700;
    }

    &.stark-toast-message-info {
      background-color: old-vars.$message-info-700;
    }
  }
}
