// Row class
.even td {
  background-color: #d1e1ff;
}

// Id cell class
.large {
  font-weight: bold;
  font-size: 30px;
}

// Title cell classes
.danger {
  color: #7c002c;
}

.warning {
  color: #ff9800;
}

.success {
  color: #3c9f40;
}
