@use "~@nationalbankbelgium/stark-ui/styles/media-queries" as *;

.table-of-contents-heading {
  margin: 8px 5px 0;
  padding: 0;
  font-size: 13px;
  font-weight: bold;
}

.table-of-contents-link {
  position: relative;
  display: block;
  margin: 8px 8px 0;

  text-decoration: none;
  line-height: 20px;

  cursor: pointer;
}

.table-of-contents-container {
  position: inherit;

  width: 100%;

  box-sizing: border-box;
  padding: 5px 10px 10px 10px;

  display: inline-table;
}

@media #{$desktop-query} {
  .table-of-contents-container {
    position: fixed;
    top: 150px;
    right: 20px;

    width: 200px;
    display: inline-table;
  }
}
