.dropdown-app-data.with-user-image {
  & .summary-with-user-image {
    line-height: 1.2;
    margin-left: 27px;
    border-radius: 20px;
  }
}

i.stark-user-image {
  position: absolute;
  width: 32px;
  margin-right: 5px;
  margin-left: -10px;
  height: 32px;
  border-radius: 50%;
  background-image: url(/assets/images/app-data/no-user-image.gif);
  background-size: 100% 100%;
}
