:host {
  display: block;
}

.example-viewer-wrapper {
  h3 {
    margin-bottom: 0;
  }
}

.example-viewer-title {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 8px 20px;
}

.example-viewer-title-spacer {
  flex: 1 1 auto;
}

.example-viewer-body {
  padding: 30px;
}
