.first-news-image {
  background: url("/assets/images/screenshots/showcase-screenshot.png") no-repeat center center;
  width: 250px;
  height: 60px;
  display: inline-block;
  background-size: contain;
}

.second-news-image {
  height: 60px;
  width: 200px;

  background-image: url(/assets/stark-core/logo/dark/stark_logo_dark.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media #{$desktop-query} {
  .first-news-image {
    width: 750px;
    height: 200px;
  }
}

@media #{$tablet-only-query} {
  .first-news-image {
    width: 500px;
    height: 100px;
  }
}
