/* ============================================================================== */
/*  S t a r k   A p p   L o g o   -   T h e m e                                   */
/* ============================================================================== */
/* stark-ui: src/modules/app-logo/components/_app-logo-theme.scss */

@mixin nbb-logo-theme($theme, $button-vars) {
}

/* END stark-ui: src/modules/app-logo/components/_app-logo-theme.scss */
