/* TODO: remove after the app-header component is finished */
.stark-app-header {
  background: #123b71 url(/assets/images/app-header.png) top right no-repeat;
  color: #fff;
  & .md-button.md-icon-button {
    min-width: 0;
    min-height: 0;
    line-height: 48px;
    margin: 4px 0 0 0;
    padding: 0 12px;
    & svg {
      fill: #fff;
    }
  }
  & .stark-header-hamburger {
    position: absolute;
    top: 0;
    left: 0;
  }
}
.stark-header-extra {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
}
.stark-header-mobile,
.stark-header-compact,
.stark-header-expanded {
  justify-content: space-between;
  align-items: stretch;
}
.stark-header-expanded,
.stark-header-compact {
  display: none;
}

/* Mobile Header  */
.stark-header-mobile {
  display: flex;
  padding: 0;
  line-height: 48px;
  margin-left: 56px; /* icon button width 48px plus 8px between elements is 56px; */
}

@media #{$tablet-screen-query} {
  .stark-header-mobile,
  .stark-header-expanded {
    display: none;
  }

  /* Compact Header */
  .stark-header-compact {
    display: flex;
    margin-left: 56px;
    margin-right: 56px;
  }

  /* Expanded Header */
  .full-curtain {
    & .stark-header-compact {
      display: none;
    }
    & .stark-header-expanded {
      display: flex;
      margin-right: 0;
      padding-right: 56px;
    }
  }
}

/* IE flex layout fix */
.stark-header-left {
  margin-right: auto;
}

.stark-header-right {
  margin-left: auto;
}
.main-header_Right {
  line-height: 14px;
}
.expanded-header-right {
  display: flex;
  justify-content: flex-end;
}
.expanded-header-right-zone1 {
  display: inline-flex;
}
.expanded-header-right-zone2 {
  display: inline-flex;
  flex-direction: column;
  margin-left: 15px;
}
.app-title {
  font-size: 20px;
  line-height: 48px;
}

/* dense mode */
.dense-mode {
  & .stark-app-header .md-button.md-icon-button {
    height: 40px;
    line-height: 0;
    & svg {
      height: 20px;
      width: 20px;
    }
  }
}

.stark-page-header {
  position: relative;
}
.stark-page-title {
  font-size: 32px;
  font-weight: 200;
  line-height: 1.1;
  padding-bottom: 15px;
  padding-left: 8px;
}
.stark-page-header-actions {
  position: fixed;
  bottom: 15px;
  top: auto;
  right: 15px;
  & .md-button {
    margin: 0;
  }
}
.stark-header {
  overflow: visible;
  background: mat-color(map-get($base-theme, primary-palette), 900) url(/assets/images/app-header.png) top right no-repeat;
  color: #fff;
  height: $stark-header-size;
  & .stark-container {
    position: relative;
    height: 100%;
  }
  & a {
    color: #fff;
  }
}
.stark-app-bar {
  display: flex;
  line-height: 48px;
  & .md-button.md-icon-button {
    margin: 0;
    padding: 8px;
    color: #fff;
  }
  & > .md-button.md-icon-button {
    margin-top: 4px;
  }
  & .stark-app-logout .md-button {
    background-color: $message-alert;
    color: #fff;
    &:hover {
      background-color: $message-alert-700;
    }
  }
}
.stark-home-button {
  display: none;
}

@media #{$tablet-query} {
  .stark-header {
    height: $stark-header-size-desktop;
  }
  .stark-page-header-actions {
    position: absolute;
    right: 0;
    top: $stark-header-actions-top-desktop;
    bottom: -20px;
  }
  .stark-page-content {
    margin-top: $stark-header-size-desktop;
  }
  .stark-home-button {
    display: inline-block;
  }
}

/* END stark: src/ui/components/app-header/app-header.component.pcss */
