.section-border {
  padding-bottom: 26px;
  position: relative;
  min-height: 1px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 290px;
  padding-left: 12px;
  padding-right: 12px;
}

.news-image {
  background-size: contain;
  height: 150px;
  width: 290px;
  display: block !important;
  background-position: 50% 50% !important;
  background-repeat: no-repeat;
}

.news-item-content {
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 1.4;
}

.information {
  font-size: 12px;
  font-weight: 500;
  line-height: 2px;
}

.news-item-title {
  font-size: 15px;
}
