@use "@nationalbankbelgium/stark-ui/styles/media-queries" as *;

.centered-title {
  text-align: center;
  font-size: 17px;
  line-height: 30px;
  font-weight: 500;
}

.homepage-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 16px auto;
}

.doc-subtitle {
  margin-left: 25px;
}

.stark-logo {
  background-image: url(/assets/stark-core/logo/dark/stark_logo_dark.svg);
  width: 250px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  margin: auto;
}

.mat-icon.homepage-icons {
  height: 80px;
  width: 80px;
  min-width: 80px;
  max-width: 80px;
}

.page-content {
  margin: 0;
  overflow: hidden;
}

.doc-description {
  display: flex;
  margin-left: 25px;
  margin-right: 25px;
  max-width: 750px;
  align-items: stretch;

  p {
    display: flex;
  }
}

.buttons-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;

  .button.custom-homepage-button {
    align-items: center;
    justify-content: center;
    width: 200px;
    text-decoration: none;
    height: 40px;
    font-weight: 600;
    line-height: 40px;
    border-radius: 48px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    padding: 0 24px;
    text-align: center;
    margin: auto 6px auto 6px;
    font-size: 12px;
  }
}

.section-division {
  padding-bottom: 20px;
  padding-top: 20px;
}

.last-section-division {
  padding-top: 20px;
}

@media #{$tablet-query} {
  .buttons-row {
    .button.custom-homepage-button {
      margin: auto 30px auto 30px;
      font-size: 15px;
    }
  }

  .mat-icon.homepage-icons {
    margin-left: 25px;
    height: 120px;
    width: 120px;
    min-width: 120px;
    max-width: 120px;
  }

  .homepage-item {
    flex-direction: row;
  }

  .centered-title {
    font-size: 30px;
    line-height: 50px;
  }

  .stark-logo {
    width: 450px;
    height: 130px;
  }
}
