<h1 class="mat-display-2" translate>SHOWCASE.DEMO.MENU.TITLE</h1>
<section class="stark-section">
	<example-viewer [extensions]="['HTML', 'TS']" filesPath="menu/sections" exampleTitle="SHOWCASE.DEMO.MENU.SECTIONS">
		<div fxLayout fxLayoutAlign="center">
			<stark-app-menu fxFlex="250px" [parentMenuConfig]="menuWithSections"></stark-app-menu>
		</div>
	</example-viewer>
</section>
<section class="stark-section">
	<example-viewer [extensions]="['HTML', 'TS']" filesPath="menu/simple" exampleTitle="SHOWCASE.DEMO.MENU.SIMPLE">
		<div fxLayout fxLayoutAlign="center">
			<stark-app-menu fxFlex="250px" [parentMenuConfig]="simpleMenu"></stark-app-menu>
		</div>
	</example-viewer>
</section>
