@use "@angular/material" as mat;
@use "@nationalbankbelgium/stark-ui" as stark-ui;

.file-structure-title {
  color: mat.get-color-from-palette(stark-ui.$grey-palette, 900);
}

.custom-title {
  color: mat.get-color-from-palette(stark-ui.$grey-palette, 900);
}

.custom-subtitle {
  color: mat.get-color-from-palette(stark-ui.$grey-palette, 800);
}

.custom-code {
  font-family: monospace;
  background-color: mat.get-color-from-palette(stark-ui.$grey-palette, 200);
}

.custom-section {
  & a {
    text-decoration: none;
  }
}

.custom-pretty-print {
  & pre {
    background-color: stark-ui.$custom-dark-background;
    border-radius: 0.3em;
  }

  color: mat.get-color-from-palette(stark-ui.$grey-palette, 100);
}
