.stark-alert-dialog {
  [mat-dialog-title] {
    color: mat-color($alert-palette, 500);
  }
  .button-ok {
    background-color: mat-color($alert-palette, 500);
    color: mat-contrast($alert-palette, 500);
  }
}
