/* ============================================================================== */
/*  S t a r k   C o n f i r m   D i a l o g                                       */
/* ============================================================================== */
/* stark-ui: src/modules/dialogs/components/confirm-dialog.component.scss */

@use "sass:map";
@use "~@angular/material" as mat;

@mixin stark-confirm-dialog-theme($material-theme-config, $stark-theme-config) {
  $primary-palette: map.get($material-theme-config, primary);

  .stark-confirm-dialog {
    .button-ok {
      background-color: mat.get-color-from-palette($primary-palette, 500);
      color: mat.get-contrast-color-from-palette($primary-palette, 500);
    }
  }
}
