/* ============================================================================== */
/*  S t a r k   P r o m p t   D i a l o g                                         */
/* ============================================================================== */
/* stark-ui: src/modules/dialogs/components/prompt-dialog.component.scss */

@use "sass:map";
@use "@angular/material" as mat;

@mixin stark-prompt-dialog-theme($material-theme-config, $stark-theme-config) {
  $primary-palette: map.get($material-theme-config, primary);

  .stark-prompt-dialog {
    .button-ok {
      background-color: mat.get-color-from-palette($primary-palette, 500);
      color: mat.get-contrast-color-from-palette($primary-palette, 500);
    }
  }
}
