@mixin center-content() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin stark-session-card() {
  .stark-session-card {
    @include center-content;

    width: 100vw;
    height: 100vh;
    /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
    /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
    /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
    mat-card {
      overflow: hidden;
      min-width: 500px;

      .logo-header {
        @include center-content;

        margin: -16px -16px 0 -16px;
        padding: 16px;
        background-image: url(/assets/stark-core/logo/stark_header_bg.png);
        background-size: cover;
      }
      /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
      /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
      mat-card-header {
        @include center-content;
        /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
        mat-card-title h1 {
          margin: 16px 0;
        }
      }
    }
  }
}
