.tooltip-info {
  border: 2px solid #ffa726;
}
.tooltip-high {
  color: #F00 !important;
  background-color: #ccc;
}

.tooltip-low {
  color: #360 !important;
  background-color: #ccc;
}

.tooltip-even {
  background-color: #888;
}

.tooltip-odd {
  background-color: #005ea0;
}
