{
	"extends": ["@nationalbankbelgium/code-style/stylelint/13.0.x", "stylelint-config-prettier"],
    "rules": {
	  "selector-pseudo-element-no-unknown": [true, { "ignorePseudoElements": ["ng-deep"] }]
    }
}
