<h1 class="mat-headline-2" translate>SHOWCASE.STYLEGUIDE.LAYOUT.TITLE</h1>
<h2 class="mat-headline-3" translate>SHOWCASE.STYLEGUIDE.LAYOUT.ANGULAR_FLEX_LAYOUT</h2>
<p [innerHTML]="'SHOWCASE.STYLEGUIDE.LAYOUT.INTRO' | translate"></p>

<example-viewer
	id="flex-layout"
	filesPath="flex-layout/flex"
	[extensions]="['HTML', 'SCSS']"
	exampleTitle="SHOWCASE.STYLEGUIDE.LAYOUT.FLEX"
>
	<div class="layout-demo" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px">
		<div fxFlex>1</div>
		<div class="accent" fxFlex fxFlex.gt-md="75%">2</div>
		<div fxFlex>3</div>
		<div fxFlex>4</div>
	</div>
</example-viewer>

<example-viewer
	id="grid-layout"
	filesPath="flex-layout/grid"
	[extensions]="['HTML', 'SCSS']"
	exampleTitle="SHOWCASE.STYLEGUIDE.LAYOUT.GRID"
>
	<div class="warning">
		<mat-icon svgIcon="alert-circle"></mat-icon>
		<span [innerHTML]="'SHOWCASE.STYLEGUIDE.LAYOUT.GRID_WARNING' | translate"></span>
	</div>
	<div class="layout-demo" gdAuto="row" gdAuto.gt-sm="column" gdGap="10px">
		<div>1</div>
		<div class="accent" gdRow.gt-md="1" gdColumn.gt-md="1">2</div>
		<div>3</div>
		<div>4</div>
	</div>
</example-viewer>
