<h1 class="mat-headline-2" translate>SHOWCASE.DEMO.DATE_PICKER.TITLE</h1>

<section class="stark-section">
	<h1 translate>SHOWCASE.DEMO.SHARED.EXAMPLE_VIEWER_LIST</h1>
	<example-viewer
		id="reactive-form"
		[extensions]="['HTML', 'TS']"
		filesPath="date-picker/reactive-form"
		exampleTitle="SHOWCASE.DEMO.DATE_PICKER.REACTIVE_FORM"
	>
		<mat-form-field>
			<mat-label>{{ 'SHOWCASE.DEMO.DATE_PICKER.PLACEHOLDER' | translate }}</mat-label>
			<input id="picker-reactive-form"
				   matInput
				   [matDatepicker]="pickerReactiveForm"
				   [min]="minDate"
				   [max]="maxDate"
				   [formControl]="formControl"
				   required
				   [starkDateMask]="maskConfig"
			>
			<mat-hint>{{ maskConfig.format }}</mat-hint>
			<mat-datepicker-toggle matIconSuffix [for]="pickerReactiveForm"></mat-datepicker-toggle>
			<mat-datepicker #pickerReactiveForm></mat-datepicker>
			<mat-error *ngIf="formControl.hasError('required')">This is required</mat-error>
			<mat-error *ngIf="formControl.hasError('matDatepickerMin')">Min date</mat-error>
			<mat-error *ngIf="formControl.hasError('matDatepickerMax')">Max date</mat-error>
		</mat-form-field>

		<div>
			<mat-checkbox (change)="toggleFormControlState(formControl)" [checked]="formControl.disabled">
				{{ "SHOWCASE.COMMON.DISABLED" | translate }}
			</mat-checkbox>
		</div>
	</example-viewer>

	<example-viewer
		id="ng-model"
		[extensions]="['HTML', 'TS']"
		filesPath="date-picker/ng-model"
		exampleTitle="SHOWCASE.DEMO.DATE_PICKER.NG_MODEL"
	>
		<mat-form-field>
			<mat-label>{{ 'SHOWCASE.DEMO.DATE_PICKER.PLACEHOLDER' | translate }}</mat-label>
			<input matInput
				id="picker-ng-model"
				name="picker-ng-model"
				[matDatepicker]="datepickerNgModel"
				[(ngModel)]="ngModelDate"
				[min]="minDate"
				[max]="maxDate"
				#pickerNgModel="ngModel" 
				required
				[starkDateMask]="maskConfig"
				(dateChange)="onDateChanged($event)"   
			>
			<mat-hint>{{ maskConfig.format }}</mat-hint>
			<mat-datepicker #datepickerNgModel></mat-datepicker>
			<mat-datepicker-toggle matIconSuffix [for]="datepickerNgModel"></mat-datepicker-toggle>
			<mat-error *ngIf="pickerNgModel.errors && pickerNgModel.errors['required']">This is required</mat-error>
			<mat-error *ngIf="pickerNgModel.errors && pickerNgModel.errors['matDatepickerMin']">Min date</mat-error>
			<mat-error *ngIf="pickerNgModel.errors && pickerNgModel.errors['matDatepickerMax']">Max date</mat-error>
		</mat-form-field>
		<div>
			<mat-checkbox (change)="disabled = !disabled" [checked]="disabled">
				{{ "SHOWCASE.COMMON.DISABLED" | translate }}
			</mat-checkbox>
		</div>
	</example-viewer>

	<example-viewer
		id="weekends-filter"
		[extensions]="['HTML', 'TS']"
		filesPath="date-picker/weekends"
		exampleTitle="SHOWCASE.DEMO.DATE_PICKER.ONLY_WEEKENDS"
	>
		<mat-form-field>
			<mat-label>{{ "SHOWCASE.DEMO.DATE_PICKER.PLACEHOLDER" | translate }}</mat-label>
			<input matInput
				   id="picker-ng-model"
				   name="picker-ng-model"
				   [value]="currentDate"
				   [min]="minDate"
				   [max]="maxDate"
				   required
				   [starkDateMask]="maskConfig"
				   (dateChange)="onDateChanged($event)"
				   [matDatepicker]="datepickerOnlyWeekend"
				   starkDatePickerFilter="OnlyWeekends" 
			>
			<mat-hint>{{ maskConfig.format }}</mat-hint>
			<mat-datepicker #datepickerOnlyWeekend></mat-datepicker>
			<mat-datepicker-toggle matIconSuffix [for]="datepickerOnlyWeekend"></mat-datepicker-toggle>
		</mat-form-field>
	</example-viewer>

	<example-viewer
		id="weekdays-filter"
		[extensions]="['HTML', 'TS']"
		filesPath="date-picker/weekdays"
		exampleTitle="SHOWCASE.DEMO.DATE_PICKER.ONLY_WEEKDAYS"
	>
		<mat-form-field>
			<mat-label>{{ 'SHOWCASE.DEMO.DATE_PICKER.PLACEHOLDER' | translate}}</mat-label>
			<input matInput
				   id="picker-only-weekdays"
				   name="only-weekdays"
				   [value]="currentDate"
				   [min]="minDate"
				   [max]="maxDate"
				   starkDatePickerFilter="OnlyWeekdays"
				   starkDateMask
				   (dateChange)="onDateChanged($event)"
				   [matDatepicker]="datepickerOnlyWeekdays"
				   >
			<mat-hint>{{ maskConfig.format }}</mat-hint>
			<mat-datepicker #datepickerOnlyWeekdays></mat-datepicker>
			<mat-datepicker-toggle matIconSuffix [for]="datepickerOnlyWeekdays"></mat-datepicker-toggle>
		</mat-form-field>
	</example-viewer>

	<example-viewer
		id="custom-filter"
		[extensions]="['HTML', 'TS']"
		filesPath="date-picker/custom-filter"
		exampleTitle="SHOWCASE.DEMO.DATE_PICKER.CUSTOM_FILTER"
	>
		<mat-form-field>
			<mat-label>{{ 'SHOWCASE.DEMO.DATE_PICKER.PLACEHOLDER' | translate}}</mat-label>
			<input matInput
				   id="picker-custom-filter"
				   name="custom-filter"
				   [value]="currentDate"
				   [min]="minDate"
				   [max]="maxDate"
				   [starkDatePickerFilter]="customDateFilter"
				   starkDateMask
				   (dateChange)="onDateChanged($event)"
				   [matDatepicker]="datepickerCustomFilter"
			>
			<mat-hint>{{ maskConfig.format }}</mat-hint>
			<mat-datepicker #datepickerCustomFilter></mat-datepicker>
			<mat-datepicker-toggle matIconSuffix [for]="datepickerCustomFilter"></mat-datepicker-toggle>
		</mat-form-field>
	</example-viewer>
</section>

<stark-reference-block [links]="referenceList"></stark-reference-block>
