<h1 class="mat-headline-2" translate>SHOWCASE.DEMO.DATE_PICKER.TITLE</h1>

<section class="stark-section">
	<h1 translate>SHOWCASE.DEMO.SHARED.EXAMPLE_VIEWER_LIST</h1>
	<example-viewer
		id="reactive-form"
		[extensions]="['HTML', 'TS']"
		filesPath="date-picker/reactive-form"
		exampleTitle="SHOWCASE.DEMO.DATE_PICKER.REACTIVE_FORM"
	>
		<mat-form-field>
			<stark-date-picker
				pickerId="picker-reactive-form"
				pickerName="picker-reactive-form"
				placeholder="SHOWCASE.DEMO.DATE_PICKER.PLACEHOLDER"
				[min]="minDate"
				[max]="maxDate"
				dateMask
				[formControl]="formControl"
				required
			></stark-date-picker>
			<mat-error>
				<div *ngIf="formControl.hasError('required')">This is required</div>
				<div *ngIf="formControl.hasError('matDatepickerMin')">Min date</div>
				<div *ngIf="formControl.hasError('matDatepickerMax')">Max date</div>
			</mat-error>
		</mat-form-field>

		<div>
			<mat-checkbox (change)="toggleFormControlState(formControl)" [checked]="formControl.disabled">
				{{ "SHOWCASE.COMMON.DISABLED" | translate }}
			</mat-checkbox>
		</div>
	</example-viewer>

	<example-viewer
		id="ng-model"
		[extensions]="['HTML', 'TS']"
		filesPath="date-picker/ng-model"
		exampleTitle="SHOWCASE.DEMO.DATE_PICKER.NG_MODEL"
	>
		<mat-form-field>
			<stark-date-picker
				pickerId="picker-ng-model"
				pickerName="picker-ng-model"
				[(ngModel)]="ngModelDate"
				placeholder="SHOWCASE.DEMO.DATE_PICKER.PLACEHOLDER"
				[min]="minDate"
				[max]="maxDate"
				[disabled]="disabled"
				(dateChange)="onDateNgModelChanged()"
				[dateMask]="maskConfig"
				#pickerNgModel="ngModel"
				required
			></stark-date-picker>
			<mat-error>
				<div *ngIf="pickerNgModel.errors && pickerNgModel.errors['required']">This is required</div>
				<div *ngIf="pickerNgModel.errors && pickerNgModel.errors['matDatepickerMin']">Min date</div>
				<div *ngIf="pickerNgModel.errors && pickerNgModel.errors['matDatepickerMax']">Max date</div>
			</mat-error>
		</mat-form-field>
		<div>
			<mat-checkbox (change)="disabled = !disabled" [checked]="disabled">
				{{ "SHOWCASE.COMMON.DISABLED" | translate }}
			</mat-checkbox>
		</div>
	</example-viewer>

	<example-viewer
		id="weekends-filter"
		[extensions]="['HTML', 'TS']"
		filesPath="date-picker/weekends"
		exampleTitle="SHOWCASE.DEMO.DATE_PICKER.ONLY_WEEKENDS"
	>
		<mat-form-field>
			<stark-date-picker
				pickerId="picker-only-weekends"
				pickerName="only-weekends"
				[value]="currentDate"
				[dateFilter]="'OnlyWeekends'"
				placeholder="SHOWCASE.DEMO.DATE_PICKER.PLACEHOLDER"
				[min]="minDate"
				[max]="maxDate"
				[required]="required"
				(dateChange)="onDateChanged($event)"
			></stark-date-picker>
		</mat-form-field>
	</example-viewer>

	<example-viewer
		id="weekdays-filter"
		[extensions]="['HTML', 'TS']"
		filesPath="date-picker/weekdays"
		exampleTitle="SHOWCASE.DEMO.DATE_PICKER.ONLY_WEEKDAYS"
	>
		<mat-form-field>
			<stark-date-picker
				pickerId="picker-only-weekdays"
				pickerName="only-weekdays"
				[value]="currentDate"
				[dateFilter]="'OnlyWeekdays'"
				placeholder="SHOWCASE.DEMO.DATE_PICKER.PLACEHOLDER"
				[min]="minDate"
				[max]="maxDate"
				dateMask="true"
				(dateChange)="onDateChanged($event)"
			></stark-date-picker>
		</mat-form-field>
	</example-viewer>

	<example-viewer
		id="custom-filter"
		[extensions]="['HTML', 'TS']"
		filesPath="date-picker/custom-filter"
		exampleTitle="SHOWCASE.DEMO.DATE_PICKER.CUSTOM_FILTER"
	>
		<mat-form-field>
			<stark-date-picker
				pickerId="picker-custom-filter"
				pickerName="custom-filter"
				[value]="currentDate"
				[dateFilter]="customDateFilter"
				placeholder="SHOWCASE.DEMO.DATE_PICKER.PLACEHOLDER"
				[min]="minDate"
				[max]="maxDate"
				(dateChange)="onDateChanged($event)"
			></stark-date-picker>
		</mat-form-field>
	</example-viewer>
</section>

<stark-reference-block [links]="referenceList"></stark-reference-block>
