.stark-action-bar {
  .mat-icon-button {
    @include stark-button-color(mat-color(map-get($base-theme, primary-palette)));
  }
  &.stark-action-bar-full {
    background-color: rgba(0, 0, 0, 0.85);
    color: rgba(255, 255, 255, 0.8);
    .mat-icon-button {
      @include stark-button-color(rgba($color: #fff, $alpha: 0.8));
    }
    .action-label {
      &.disabled {
        color: rgba($color: #fff, $alpha: 0.25);
      }
    }
  }
}

@media #{$tablet-query} {
  .stark-action-bar {
    color: $md-primary;
    &.stark-action-bar-full {
      background: none;
      color: mat-color(map-get($base-theme, primary-palette));
      .mat-icon-button:not([disabled]) {
        @include stark-button-color(mat-color(map-get($base-theme, primary-palette)));
      }
      [disabled].mat-icon-button {
        @include stark-button-color(map-get($mat-light-theme-foreground, disabled-button));
      }
      .action-label {
        &.disabled {
          color: map-get($mat-light-theme-foreground, disabled-button);
        }
      }
    }
  }
}
