/* ============================================================================== */
/*  S t a r k   A c t i o n   B a r   -   T h e m e                               */
/* ============================================================================== */
/* stark-ui: src/modules/action-bar/components/_action-bar-theme.scss */

@use "sass:map";
@use "@angular/material" as mat;
@use "@angular/material/core/theming/palette" as mat-palette;
@use "../../../../styles/components/button-theme" as stark-button-theme;
@use "../../../../styles/media-queries" as *;

@mixin stark-action-bar-theme($material-theme-config, $stark-theme-config) {
  @media #{$tablet-query} {
    .stark-action-bar {
      .action-label {
        &.primary {
          color: mat.get-color-from-palette(map.get($material-theme-config, primary));
        }

        &.warn {
          color: mat.get-color-from-palette(map.get($material-theme-config, warn));
        }

        &.accent {
          color: mat.get-color-from-palette(map.get($material-theme-config, accent), 500);
        }

        &.success {
          color: mat.get-color-from-palette(map.get($stark-theme-config, success-palette), 500);
        }

        &.alert {
          color: mat.get-color-from-palette(map.get($stark-theme-config, alert-palette), 500);
        }

        &.alt {
          color: mat.get-color-from-palette(map.get($stark-theme-config, grey-palette), 900);
        }

        &.neutral {
          color: mat.get-color-from-palette(map.get($stark-theme-config, grey-palette), 400);
        }

        &.white {
          color: #fff;
        }

        &.disabled {
          color: map.get(mat.$light-theme-foreground-palette, disabled-text);
        }
      }
    }
  }

  @media #{$mobile-only-query} {
    .stark-action-bar-full {
      background-color: rgba(0, 0, 0, 0.85);

      .mat-mdc-icon-button {
        @include stark-button-theme.stark-button-color(rgba($color: #fff, $alpha: 0.8), mat-palette.$light-primary-text);
      }

      .action-label {
        color: rgba(255, 255, 255, 0.8);

        &.disabled {
          color: rgba($color: #fff, $alpha: 0.25);
        }
      }
    }
  }
}

/* END stark-ui: src/modules/action-bar/components/_action-bar-theme.scss */
