/* ============================================================================== */
/*  S t a r k   T a b l e                                                         */
/* ============================================================================== */
/* stark-ui: src/modules/table/components/_table-theme.scss */

.stark-table {
  tr {
    &:hover td {
      background-color: mat-color($grey-palette, 100);
    }

    &.selected td {
      background-color: mat-color($accent-palette, 100);
      color: mat-contrast($accent-palette, 100);
    }
  }
}

/* END stark-ui: src/modules/app-menu/components/_table-theme.scss */
