/* ============================================================================== */
/*  S t a r k   T a b l e                                                         */
/* ============================================================================== */
/* stark-ui: src/modules/table/components/_table-theme.scss */

@use "sass:map";
@use "~@angular/material" as mat;

@mixin stark-table-theme($material-theme-config, $stark-theme-config) {
  $grey-palette: map.get($stark-theme-config, grey-palette);
  $accent-palette: map.get($material-theme-config, accent);

  .stark-table {
    tr {
      &:hover td {
        background-color: mat.get-color-from-palette($grey-palette, 100);
      }

      &.selected td {
        background-color: mat.get-color-from-palette($accent-palette, 100);
        color: mat.get-contrast-color-from-palette($accent-palette, 100);
      }
    }
  }
}

/* END stark-ui: src/modules/app-menu/components/_table-theme.scss */
