/* ============================================================================== */
/*  S t a r k   T a b l e                                                         */
/* ============================================================================== */
/* stark-ui: src/modules/table/components/_table-theme.scss */

@use "~@angular/material" as mat;
@use "../../../../styles/theming/material-palettes" as stark-mat-palettes;
@use "../../../../styles/theming/stark-palettes" as stark-palettes;

@mixin stark-table-theme() {
  .stark-table {
    tr {
      &:hover td {
        background-color: mat.get-color-from-palette(stark-palettes.$grey-palette, 100);
      }

      &.selected td {
        background-color: mat.get-color-from-palette(stark-mat-palettes.$accent-palette, 100);
        color: mat.get-contrast-color-from-palette(stark-mat-palettes.$accent-palette, 100);
      }
    }
  }
}

/* END stark-ui: src/modules/app-menu/components/_table-theme.scss */
