<nav>
	<a uiSref="index"
	   uiSrefActive="active">
		Index
	</a>
	<a uiSref="home"
	   uiSrefActive="active">
		Home
	</a>
	<a uiSref="detail"
	   uiSrefActive="active">
		Detail
	</a>
	<a uiSref="barrel"
	   uiSrefActive="active">
		Barrel
	</a>
	<a uiSref="about" [uiParams]="{ paramData: 'data passed via params' }"
	   uiSrefActive="active">
		About
	</a>
</nav>

<stark-app-logo></stark-app-logo>

<main>
	<ui-view></ui-view>
</main>

<pre class="app-state">this.appState.state = {{ appState.state | json }}</pre>

<footer>
	<span>Stark Starter</span>
	<div>
		<a [href]="url">
			Stark
		</a>
	</div>
</footer>
