.stark-app-sidebar {
  .stark-app-sidenav-menu {
    .stark-app-logo {
      border-bottom: 1px solid #ddd;
      display: flex;
      justify-content: center;
      padding: 10px 0 20px;
    }

    &.stark-app-sidenav-menu-shifting {
      .stark-app-logo {
        display: none;
      }
    }
  }
}

@media #{$tablet-query} {
  .stark-app-sidebar {
    .stark-app-sidenav-menu {
      .stark-app-logo {
        display: none;
      }
    }
  }
}

@media #{$mobile-only-query} {
  .stark-app-sidebar {
    .stark-app-sidenav-menu {
      .stark-app-logo {
        & i {
          display: block;
          width: 200px;
          height: 60px;
          margin-top: 0;
          background-image: url(/assets/stark-core/logo/stark_logo_black.svg);
          background-size: 100% 100%;
        }
      }
    }
  }
}
