<h1 class="mat-display-2" translate>SHOWCASE.DEMO.MINIMAP.TITLE</h1>
<section class="stark-section">
	<example-viewer [extensions]="['HTML','TS']" filesPath="minimap/full"
					exampleTitle="SHOWCASE.DEMO.MINIMAP.FULL">
		<stark-minimap [items]="items" [visibleItems]="visibleItems" (showHideItem)="showHideItem($event)">
		</stark-minimap>
	</example-viewer>
</section>

<section class="stark-section">
	<example-viewer [extensions]="['HTML','TS']" filesPath="minimap/compact"
					exampleTitle="SHOWCASE.DEMO.MINIMAP.COMPACT">
		<stark-minimap mode="compact" [items]="items" [visibleItems]="visibleItems" (showHideItem)="showHideItem($event)">
		</stark-minimap>
	</example-viewer>
</section>

<stark-reference-block [links]="referenceList"></stark-reference-block>
