//set the header image
.about-background {
  display: flex;
  align-items: center;
  
  margin-bottom: 20px;
  height: 100px;

  background-color: mat-color($primary-palette, 900);
  background-image: url(/assets/stark-core/logo/light/stark_logo_light.svg);
  background-repeat: no-repeat;
  background-size: 250px 100px;
  background-position: center;
}

.light-font {
  font-weight: normal;
}

.bottom-margin {
  margin-bottom: 20px;
}

//icon with a link to github
.github-link .github-icon {
  height: 60px;
  width: 60px;
  position: relative;
  float: right;

  svg {
    fill: #000;
  }
}

.information-title {
  font-size: 21px;
  color: mat-color($grey-palette, 900);
  padding-bottom: 0;
  display: inline-flex;
  vertical-align: middle;
  margin: 10px 0 10px 0;
}

@media #{$desktop-query} {
  .about-title {
    font-size: 55px;
    margin-left: 25px;
  }

  .information-title {
    font-size: 30px;
  }

  .about-background {
    height: 150px;
    background-size: 250px 75px;
  }
}

@media #{$tablet-only-query} {
  .list {
    font-size: 17px;
  }

  .about-background {
    height: 100px;
    background-size: 250px 75px;
  }
}

@media #{$tablet-query} {
  .stark-app-bar-content-center {
    align-self: center;
    margin-bottom: 15px;
  }
}

@media #{$mobile-only-query} {
  .stark-app-bar-page-title {
    position: absolute;
    top: 60px;
    left: 0;
    
    width: 100px;
    height: 30px;
    max-width: 100%;

    background-image: url(/assets/stark-core/logo/light/stark_logo_light.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}
