<example-viewer *ngFor="let fileType of fileTypes; trackBy: trackFileTypes"
				[extensions]="['HTML', 'SCSS', 'TS']"
				[filesPath]="fileType.path"
				[title]="fileType.title">
	<mat-tab-group>
		<mat-tab label="{{ 'SHOWCASE.DEMO.PRETTY-PRINT.ORIGINAL_CODE'  | translate }}">
			<div class="code-block">{{ fileType.rawData }}</div>
		</mat-tab>
		<mat-tab label="{{ 'SHOWCASE.DEMO.PRETTY-PRINT.PRETTY_PRINTED' | translate }}">
			<div class="code-block">
				<stark-pretty-print [data]="fileType.rawData"
									[format]="fileType.format"
									[enableHighlighting]="false"></stark-pretty-print>
			</div>
		</mat-tab>
		<mat-tab label="{{ 'SHOWCASE.DEMO.PRETTY-PRINT.PRETTY_PRINTED_WITH_HIGHLIGHTING' | translate }}">
			<stark-pretty-print [data]="fileType.rawData"
								[format]="fileType.format"
								[enableHighlighting]="true"></stark-pretty-print>
		</mat-tab>
	</mat-tab-group>
</example-viewer>
