<div>
	<div class="mb3">
		<mat-card>
			<mat-card-header>
				<mat-card-title>
					<h1>Angular Material components</h1>
				</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<div class="mb2">
					<button mat-raised-button>Basic</button>
					<button mat-raised-button color="primary">Primary</button>
					<button mat-raised-button color="accent">Accent</button>
					<button mat-raised-button color="warn">Warn</button>
					<button mat-raised-button disabled>Disabled</button>
				</div>
			</mat-card-content>
		</mat-card>
</div>