<div>
	<div class="mb3">
		<mat-card>
			<mat-card-header>
				<mat-card-title>
					<h1 class="documentation-title">Stark documentation</h1>
				</mat-card-title>
			</mat-card-header>
			<mat-card-content class="documentation-links">
				<div>
					<a href="https://stark.nbb.be/api-docs/stark-core/latest">
						<img class="img-stark-core-latest">
						<div>Stark Core - Latest</div>
					</a>
				</div>
				<div>
					<a href="https://github.com/NationalBankBelgium/stark/tree/gh-pages/api-docs/stark-core">
						<img class="img-stark-core">
						<div>Stark Core</div>
					</a>
				</div>
				<div>
					<a href="https://stark.nbb.be/api-docs/stark-ui/latest">
						<img class="img-stark-ui-latest">
						<div>Stark UI - Latest</div>
					</a>
				</div>
				<div>
					<a href="https://github.com/NationalBankBelgium/stark/tree/gh-pages/api-docs/stark-ui">
						<img class="img-stark-ui">
						<div>Stark UI</div>
					</a>
				</div>
				<div>
					<a href="https://github.com/NationalBankBelgium/stark/tree/gh-pages/showcase">
						<img class="img-stark-showcase">
						<div>Showcase</div>
					</a>
				</div>
			</mat-card-content>
		</mat-card>
	</div>
</div>
