<span class="stark-section about-background">
</span>
<p class="mat-body-2 light-font" [innerHTML]="'SHOWCASE.HOMEPAGE.DESCRIPTION_BEFORE_DETAIL' | translate">
</p>
<p class="mat-h4" [innerHTML]="'SHOWCASE.HOMEPAGE.DESCRIPTION_DETAIL' | translate"></p>
<p class="mat-body-2 light-font" [innerHTML]="'SHOWCASE.HOMEPAGE.DESCRIPTION_AFTER_DETAIL' | translate">
</p>

<section class="stark-section bottom-margin">
	<mat-accordion>
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title class="information-title" [innerHTML]="'SHOWCASE.HOMEPAGE.NEWS_TITLE' | translate">
				</mat-panel-title>
			</mat-expansion-panel-header>
			<h2 [innerHTML]="'SHOWCASE.HOMEPAGE.NEWS_DESCRIPTION' | translate"></h2>
			<div [innerHTML]="'SHOWCASE.HOMEPAGE.NEWS_CONTENT' | translate"></div>
		</mat-expansion-panel>
	</mat-accordion>
</section>
<section class="stark-section bottom-margin">
	<mat-accordion>
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title class="information-title" [innerHTML]="'SHOWCASE.HOMEPAGE.DOCUMENTATION_MAIN_TITLE' | translate">
				</mat-panel-title>
			</mat-expansion-panel-header>
			<h2 [innerHTML]="'SHOWCASE.HOMEPAGE.DOCUMENTATION_MAIN_DESC' | translate"></h2>

			<h2>Stark Core</h2>
			<div [innerHTML]="'SHOWCASE.HOMEPAGE.DOCUMENTATION_CORE_DESC' | translate"></div>
			<br>
			<h2>Stark UI</h2>
			<div [innerHTML]="'SHOWCASE.HOMEPAGE.DOCUMENTATION_UI_DESC' | translate"></div>
			<br>
			<h2>Showcase</h2>
			<div [innerHTML]="'SHOWCASE.HOMEPAGE.DOCUMENTATION_SHOWCASE_DESC' | translate"></div>
		</mat-expansion-panel>
	</mat-accordion>
</section>
