<h1 class="mat-headline-2" translate>SHOWCASE.DEMO.ROUTE_SEARCH.TITLE</h1>
<section class="stark-section">
	<h1 translate>SHOWCASE.DEMO.SHARED.EXAMPLE_VIEWER_LIST</h1>
	<example-viewer
		id="direction-left"
		[extensions]="['HTML']"
		filesPath="route-search/route-search-direction-left"
		exampleTitle="SHOWCASE.DEMO.ROUTE_SEARCH.DIRECTION_LEFT"
	>
		<stark-route-search direction="left"></stark-route-search>
		<p [innerHTML]="'SHOWCASE.DEMO.ROUTE_SEARCH.ROUTER_CONFIG_REMARKS' | translate"></p>
	</example-viewer>
</section>

<section class="stark-section">
	<example-viewer
		id="direction-right"
		[extensions]="['HTML']"
		filesPath="route-search/route-search-direction-right"
		exampleTitle="SHOWCASE.DEMO.ROUTE_SEARCH.DIRECTION_RIGHT"
	>
		<stark-route-search direction="right"></stark-route-search>
		<p [innerHTML]="'SHOWCASE.DEMO.ROUTE_SEARCH.ROUTER_CONFIG_REMARKS' | translate"></p>
	</example-viewer>
</section>

<section class="stark-section">
	<example-viewer
		id="with-menu-config-and-custom-color"
		[extensions]="['HTML', 'TS', 'SCSS']"
		filesPath="route-search/route-search-with-custom-color-and-menu-config"
		exampleTitle="SHOWCASE.DEMO.ROUTE_SEARCH.WITH_CUSTOM_COLOR_AND_MENU_CONFIG"
	>
		<stark-route-search [menuConfig]="mainMenu" class="button-color-success"></stark-route-search>
		<p [innerHTML]="'SHOWCASE.DEMO.ROUTE_SEARCH.MENU_CONFIG_REMARKS' | translate"></p>
	</example-viewer>
	<stark-reference-block [links]="referenceList"></stark-reference-block>
</section>
