<example-viewer [extensions]="['HTML', 'TS']" filesPath="route-search/route-search-no-param"
				exampleTitle="SHOWCASE.DEMO.ROUTE_SEARCH.EXAMPLE_NO_PARAM">
				<stark-route-search direction="right"></stark-route-search>
</example-viewer>

<example-viewer [extensions]="['HTML', 'TS']" filesPath="route-search/route-search-with-param"
				exampleTitle="SHOWCASE.DEMO.ROUTE_SEARCH.EXAMPLE_WITH_PARAM">
	<stark-route-search direction="left" [menuConfig]="mainMenu"></stark-route-search>
</example-viewer>
