<example-viewer [extensions]="['HTML', 'TS']" filesPath="action-bar/classic-full" title="SHOWCASE.DEMO.ACTION-BAR.CLASSIC-FULL">
		<stark-action-bar actionBarId="classic-full" [actionBarConfig]="actionBarConfig" mode="full"></stark-action-bar>
</example-viewer>


<example-viewer [extensions]="['HTML', 'TS']" filesPath="action-bar/classic-compact" title="SHOWCASE.DEMO.ACTION-BAR.CLASSIC-COMPACT">
		<stark-action-bar actionBarId="classic-compact" [actionBarConfig]="actionBarConfig" mode="compact"></stark-action-bar>
</example-viewer>

<example-viewer [extensions]="['HTML', 'TS']" filesPath="action-bar/alt" title="SHOWCASE.DEMO.ACTION-BAR.ALT">
	<stark-action-bar actionBarId="alt" [actionBarConfig]="actionBarConfig" [alternativeActions]="alternativeActions" mode="compact"></stark-action-bar>
</example-viewer>