/* ============================================================================== */
/*  S t a r k   L o g i n   P a g e                                               */
/* ============================================================================== */
/* stark-ui: src/modules/session-ui/pages/login/_login-page.component.scss */

@mixin stark-login-page() {
  .stark-login-page {
    .mat-mdc-card-content {
      a {
        margin-left: -16px;
        margin-right: -16px;
        padding-left: 16px;
        padding-right: 16px;

        cursor: pointer;

        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }
        /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
        .mat-list-text h3 {
          font-weight: bold;
        }
      }
    }
  }
}

/* END stark-ui: src/modules/session-ui/pages/login/_login-page.component.scss */
