@use "sass:map";
@use "~@angular/material" as mat;
@use "~@nationalbankbelgium/stark-ui" as stark-ui;

example-viewer {
  .example-viewer-wrapper {
    background-color: #fff;

    .stark-pretty-print {
      pre[class*="language-"] {
        padding: 1em;
        margin: 0;
        border-radius: 0;
      }
    }

    .mat-tab-body-wrapper {
      border-bottom: 1px solid #555;
    }
  }

  .mat-tab-header {
    background-color: mat.get-color-from-palette(mat.$light-theme-background-palette, card);
  }

  .mat-tab-body {
    background-color: stark-ui.$custom-dark-background;
  }

  .example-source {
    border-bottom: 1px solid mat.get-color-from-palette(mat.$light-theme-background-palette, divider);
    overflow-x: scroll;

    code {
      font-family: mat.font-family(stark-ui.$typography-config);
      font-size: 15px;
      line-height: 24px;
    }
  }
}
