.stark-app-sidebar {
  .stark-app-sidenav-menu {
    .stark-app-logo {
      border-bottom: 1px solid #fff;
    }
  }
}

.header-icon {
  color: #fff;
}

.stark-app-bar-content-right-actions-alt .mat-mdc-icon-button.github-icon {
  background-color: #000;
}
