<header class="stark-header aah-stark">
	<div class="stark-container">
		<div class="stark-app-bar">
			<button color="white" mat-icon-button>
				<mat-icon starkSvgViewBox svgIcon="home"></mat-icon>
			</button>
			<button color="white" mat-icon-button (click)="sidenav.toggle()">
				<mat-icon starkSvgViewBox svgIcon="menu"></mat-icon>
			</button>
			<button color="white" mat-icon-button>
				<mat-icon starkSvgViewBox svgIcon="arrow-left"></mat-icon>
			</button>

			<stark-app-logo></stark-app-logo>

			<div class="stark-header-extra">
				<button color="alert" mat-mini-fab>
					<mat-icon starkSvgViewBox svgIcon="power"></mat-icon>
				</button>
			</div>
		</div>
	</div>
</header>

<mat-sidenav-container class="stark-main-content">
	<mat-sidenav #sidenav mode="side" [fixedInViewport]="true" [fixedTopGap]="128" [fixedBottomGap]="0" closed>
		<mat-nav-list class="nav-main">
			<a mat-list-item uiSref="home" uiSrefActive="active">
				<span matLine>Home</span>
			</a>
			<a mat-list-item uiSref="demo-action-bar" uiSrefActive="active">
				<span matLine>Action Bar</span>
			</a>
			<a mat-list-item uiSref="demo-button" uiSrefActive="active">
				<span matLine>Button</span>
			</a>
			<a mat-list-item uiSref="demo-date-picker" uiSrefActive="active">
				<span matLine>Date Picker</span>
			</a>
			<a mat-list-item uiSref="demo-example-viewer" uiSrefActive="active">
				<span matLine>Example Viewer</span>
			</a>
			<a mat-list-item uiSref="demo-keyboard-directives" uiSrefActive="active">
				<span matLine>Keyboard Directives</span>
			</a>
			<a mat-list-item uiSref="demo-pretty-print" uiSrefActive="active">
				<span matLine>Pretty Print</span>
			</a>
			<a mat-list-item uiSref="demo-table" uiSrefActive="active">
				<span matLine>Table</span>
			</a>
			<a mat-list-item uiSref="news" uiSrefActive="active">
				<span matLine>Stark news</span>
			</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content class="px4 py2">
		<main>
			<ui-view></ui-view>
		</main>

	</mat-sidenav-content>
</mat-sidenav-container>
