<header class="stark-header aah-stark">
	<div class="stark-container">
		<div class="stark-app-bar">
			<button mat-icon-button><mat-icon svgIcon="home"></mat-icon></button>
			<button (click)="sidenav.toggle()" mat-icon-button><mat-icon svgIcon="menu"></mat-icon></button>
			<button mat-icon-button><mat-icon svgIcon="arrow-left"></mat-icon></button>

			<stark-app-logo></stark-app-logo>
			
			<div class="stark-header-extra">
				<button mat-mini-fab color="warn"><mat-icon svgIcon="power"></mat-icon></button>
			</div>
		</div>
	</div>
</header>

<mat-sidenav-container class="stark-main-content">
  <mat-sidenav #sidenav mode="side" [fixedInViewport]="true" [fixedTopGap]="128" [fixedBottomGap]="0" closed>
		<mat-nav-list class="nav-main">
			<a mat-list-item uiSref="home" uiSrefActive="active">
				<span matLine>Home</span>
			</a>
			<a mat-list-item uiSref="demo-example-viewer" uiSrefActive="active">
				<span matLine>Example Viewer</span>
			</a>
		</mat-nav-list>
	</mat-sidenav>
  <mat-sidenav-content class="px4 py2">
		<main>
			<ui-view></ui-view>
		</main>

	</mat-sidenav-content>
</mat-sidenav-container>