/* ============================================================================== */
/*  S t a r k   C o l l a p s i b l e   -   T h e m e                             */
/* ============================================================================== */
/* stark-ui: src/modules/collapsible/components/_collapsible-theme.scss */

@use "sass:map";
@use "~@angular/material" as mat;
@use "../../../../styles/theming/material-palettes" as stark-mat-palettes;
@use "../../../../styles/theming/stark-palettes" as stark-palettes;
@use "../../../../styles/old-variables" as old-vars;

@mixin stark-collapsible-color($color_high, $color_low) {
  .mat-expansion-panel {
    box-shadow: old-vars.$elevation-1;

    &.mat-expanded {
      box-shadow: old-vars.$elevation-16;
    }

    .mat-expansion-panel-header {
      border-bottom: 1px solid rgba($color: $color_low, $alpha: 0.12);
      background-color: rgba($color: $color_high, $alpha: 0.02);

      &:not(.mat-expanded) {
        &:hover {
          background-color: rgba($color: $color_low, $alpha: 0.02);
        }
      }

      &.mat-expanded {
        background-color: rgba($color: $color_high, $alpha: 1);
      }
    }

    .mat-expansion-panel-body {
      background-color: rgba($color: $color_high, $alpha: 0.02);
    }
  }
}

@mixin stark-collapsible-theme() {
  .stark-collapsible {
    @include stark-collapsible-color(
      mat.get-color-from-palette(stark-palettes.$grey-palette, A100),
      mat.get-color-from-palette(stark-palettes.$grey-palette, 900)
    );

    .mat-expansion-panel-header-description {
      color: mat.get-color-from-palette(map.get(stark-mat-palettes.$base-theme, primary-palette), 900);
    }

    .mat-expansion-panel-header-title {
      color: mat.get-color-from-palette(map.get(stark-mat-palettes.$base-theme, primary-palette), 500);
    }

    .stark-collapsible-icon {
      color: mat.get-color-from-palette(map.get(stark-mat-palettes.$base-theme, primary-palette), 500);
    }
  }
}

/* END stark-ui: src/modules/collapsible/components/_collapsible-theme.scss */
