<h1 class="mat-headline-2" translate>SHOWCASE.DEMO.DIRECTIVES.RESTRICT_INPUT.TITLE</h1>
<section class="stark-section">
	<h1 translate>SHOWCASE.DEMO.SHARED.EXAMPLE_VIEWER_LIST</h1>
	<example-viewer
		id="demo"
		[extensions]="['HTML']"
		filesPath="restrict-input-directive/restrict-input-directive"
		exampleTitle="SHOWCASE.DEMO.DIRECTIVES.RESTRICT_INPUT.TITLE"
	>
		<form fxLayout="column">
			<p translate>SHOWCASE.DEMO.DIRECTIVES.RESTRICT_INPUT.DESCRIPTION</p>
			<mat-form-field>
				<mat-label translate>SHOWCASE.DEMO.DIRECTIVES.RESTRICT_INPUT.INPUT_ONLY_NUMBERS</mat-label>
				<input
					name="test"
					matInput
					placeholder="{{ 'SHOWCASE.DEMO.DIRECTIVES.TYPE_A_VALUE' | translate }}"
					starkRestrictInput="\d"
				/>
			</mat-form-field>
			<mat-form-field>
				<mat-label translate>SHOWCASE.DEMO.DIRECTIVES.RESTRICT_INPUT.INPUT_ALPHANUMERICAL_CHARACTERS</mat-label>
				<input
					name="test"
					matInput
					[placeholder]="'SHOWCASE.DEMO.DIRECTIVES.TYPE_A_VALUE' | translate"
					starkRestrictInput="^[A-Za-z0-9]*$"
				/>
			</mat-form-field>
			<mat-form-field>
				<mat-label translate>SHOWCASE.DEMO.DIRECTIVES.RESTRICT_INPUT.INPUT_NO_SPECIAL_CHARACTERS</mat-label>
				<input name="test" matInput [placeholder]="'SHOWCASE.DEMO.DIRECTIVES.TYPE_A_VALUE' | translate" starkRestrictInput="\w" />
			</mat-form-field>
			<mat-form-field>
				<mat-label translate>SHOWCASE.DEMO.DIRECTIVES.RESTRICT_INPUT.INPUT_UPPERCASE_CHARACTERS</mat-label>
				<input
					name="test"
					matInput
					[placeholder]="'SHOWCASE.DEMO.DIRECTIVES.TYPE_A_VALUE' | translate"
					starkRestrictInput="^[A-Z]*$"
				/>
			</mat-form-field>
		</form>
	</example-viewer>
</section>
<stark-reference-block [links]="referenceList"></stark-reference-block>
