<h1 class="mat-headline-2" translate>SHOWCASE.DEMO.DIRECTIVES.INPUT_MASK.TITLE</h1>
<section class="stark-section">
	<h1 translate>SHOWCASE.DEMO.SHARED.EXAMPLE_VIEWER_LIST</h1>
	<example-viewer
		id="text-mask-directive"
		[extensions]="['HTML', 'TS']"
		filesPath="input-mask-directives/text-mask-directive"
		[exampleTitle]="'SHOWCASE.DEMO.DIRECTIVES.INPUT_MASK.TEXT_MASK.TITLE' | translate"
	>
		<!-- TODO: fxLayoutAlign is not really needed here but it should be added otherwise an error is thrown in (@angular/flex-layout 7.0.0-beta.22) -->
		<!-- this issue is already solved in @angular/flex-layout 7.0.0-beta.23, remove fxLayoutAlign from here once we upgrade to that version -->
		<!-- see https://github.com/angular/flex-layout/issues/951 and https://github.com/angular/flex-layout/issues/947-->
		<div fxLayout="column" fxLayoutAlign="space-between" fxLayout.gt-sm="row wrap" fxLayoutGap="20px">
			<mat-form-field>
				<mat-label translate>SHOWCASE.DEMO.DIRECTIVES.INPUT_MASK.TEXT_MASK.CREDIT_CARD_MASK</mat-label>
				<input
					matInput
					id="credit-card-input-mask"
					type="text"
					(input)="logChange($event)"
					placeholder="####-####-####-####"
					[starkTextMask]="creditCardMaskConfig"
				/>
			</mat-form-field>

			<mat-form-field>
				<mat-label translate>SHOWCASE.DEMO.DIRECTIVES.INPUT_MASK.TEXT_MASK.STRUCTURED_MESSAGE_MASK</mat-label>
				<input
					matInput
					id="structured-message-input-mask"
					type="text"
					[(ngModel)]="structuredMessage"
					(input)="logModelChange(structuredMessage)"
					placeholder="+++###/####/#####/+++"
					[starkTextMask]="structuredMessageMaskConfig"
				/>
			</mat-form-field>

			<mat-form-field>
				<mat-label translate>SHOWCASE.DEMO.DIRECTIVES.INPUT_MASK.TEXT_MASK.PHONE_NUMBER_MASK</mat-label>
				<input
					matInput
					id="custom-input-mask"
					type="text"
					[formControl]="phoneNumberField"
					placeholder="(+32) ### ## ## ##"
					[starkTextMask]="phoneNumberMaskConfig"
				/>
			</mat-form-field>
		</div>
	</example-viewer>

	<example-viewer
		id="number-mask-directive"
		[extensions]="['HTML', 'TS']"
		filesPath="input-mask-directives/number-mask-directive"
		[exampleTitle]="'SHOWCASE.DEMO.DIRECTIVES.INPUT_MASK.NUMBER_MASK.TITLE' | translate"
	>
		<!-- TODO: fxLayoutAlign is not really needed here but it should be added otherwise an error is thrown in (@angular/flex-layout 7.0.0-beta.22) -->
		<!-- this issue is already solved in @angular/flex-layout 7.0.0-beta.23, remove fxLayoutAlign from here once we upgrade to that version -->
		<!-- see https://github.com/angular/flex-layout/issues/951 and https://github.com/angular/flex-layout/issues/947-->
		<div fxLayout="column" fxLayoutAlign="space-between" fxLayout.gt-sm="row wrap" fxLayoutGap="20px">
			<mat-form-field>
				<mat-label translate>SHOWCASE.DEMO.DIRECTIVES.INPUT_MASK.NUMBER_MASK.EURO_AMOUNT_MASK</mat-label>
				<input
					matInput
					id="euros-input-mask"
					type="text"
					(input)="logChange($event)"
					placeholder="###,###,###.00 €"
					[starkNumberMask]="eurosMaskConfig"
				/>
			</mat-form-field>

			<mat-form-field>
				<mat-label translate>SHOWCASE.DEMO.DIRECTIVES.INPUT_MASK.NUMBER_MASK.US_DOLLARS_AMOUNT_MASK</mat-label>
				<input
					matInput
					id="dollars-input-mask"
					type="text"
					[(ngModel)]="dollarsAmount"
					(input)="logModelChange(dollarsAmount)"
					placeholder="$ ###,###,###.00"
					[starkNumberMask]="dollarsMaskConfig"
				/>
			</mat-form-field>

			<mat-form-field>
				<mat-label translate>SHOWCASE.DEMO.DIRECTIVES.INPUT_MASK.NUMBER_MASK.PERCENTAGE_MASK</mat-label>
				<input
					matInput
					id="percentage-input-mask"
					type="text"
					[formControl]="percentageField"
					placeholder="(-)%###.###"
					[starkNumberMask]="percentageMaskConfig"
				/>
			</mat-form-field>
		</div>
	</example-viewer>

	<example-viewer
		id="email-mask-directive"
		[extensions]="['HTML', 'TS']"
		filesPath="input-mask-directives/email-mask-directive"
		[exampleTitle]="'SHOWCASE.DEMO.DIRECTIVES.INPUT_MASK.EMAIL_MASK.TITLE' | translate"
	>
		<!-- TODO: fxLayoutAlign is not really needed here but it should be added otherwise an error is thrown in (@angular/flex-layout 7.0.0-beta.22) -->
		<!-- this issue is already solved in @angular/flex-layout 7.0.0-beta.23, remove fxLayoutAlign from here once we upgrade to that version -->
		<!-- see https://github.com/angular/flex-layout/issues/951 and https://github.com/angular/flex-layout/issues/947-->
		<div fxLayout="column" fxLayoutAlign="space-between" fxLayout.gt-sm="row wrap" fxLayoutGap="20px">
			<mat-form-field>
				<mat-label translate>SHOWCASE.DEMO.DIRECTIVES.INPUT_MASK.EMAIL_MASK.EMAIL_MASK</mat-label>
				<input
					matInput
					id="email-input-mask"
					type="text"
					[(ngModel)]="email"
					(input)="logModelChange(email)"
					[placeholder]="'SHOWCASE.DEMO.DIRECTIVES.INPUT_MASK.EMAIL_MASK.EMAIL_PLACEHOLDER' | translate"
					starkEmailMask
				/>
			</mat-form-field>
		</div>
	</example-viewer>

	<example-viewer
		id="timestamp-mask-directive"
		[extensions]="['HTML', 'TS']"
		filesPath="input-mask-directives/timestamp-mask-directive"
		[exampleTitle]="'SHOWCASE.DEMO.DIRECTIVES.INPUT_MASK.TIMESTAMP_MASK.TITLE' | translate"
	>
		<!-- TODO: fxLayoutAlign is not really needed here but it should be added otherwise an error is thrown in (@angular/flex-layout 7.0.0-beta.22) -->
		<!-- this issue is already solved in @angular/flex-layout 7.0.0-beta.23, remove fxLayoutAlign from here once we upgrade to that version -->
		<!-- see https://github.com/angular/flex-layout/issues/951 and https://github.com/angular/flex-layout/issues/947-->
		<div fxLayout="column" fxLayoutAlign="space-between" fxLayout.gt-sm="row wrap">
			<mat-form-field>
				<mat-label translate>SHOWCASE.DEMO.DIRECTIVES.INPUT_MASK.TIMESTAMP_MASK.TIMESTAMP_DMY_MASK</mat-label>
				<input
					matInput
					id="timestamp-dmy-input-mask"
					type="text"
					(input)="logChange($event)"
					[placeholder]="'SHOWCASE.DEMO.DIRECTIVES.INPUT_MASK.TIMESTAMP_MASK.TIMESTAMP_DMY_PLACEHOLDER' | translate"
					[starkTimestampMask]="timestampDMYMaskConfig"
				/>
			</mat-form-field>

			<mat-form-field>
				<mat-label translate>SHOWCASE.DEMO.DIRECTIVES.INPUT_MASK.TIMESTAMP_MASK.TIMESTAMP_MDY_MASK</mat-label>
				<input
					matInput
					id="timestamp-mdy-input-mask"
					type="text"
					[(ngModel)]="timestamp"
					(input)="logModelChange(timestamp)"
					[placeholder]="'SHOWCASE.DEMO.DIRECTIVES.INPUT_MASK.TIMESTAMP_MASK.TIMESTAMP_MDY_PLACEHOLDER' | translate"
					[starkTimestampMask]="timestampMDYMaskConfig"
				/>
			</mat-form-field>

			<mat-form-field>
				<mat-label translate>SHOWCASE.DEMO.DIRECTIVES.INPUT_MASK.TIMESTAMP_MASK.FULL_DATE_DMY_MASK</mat-label>
				<input
					matInput
					id="full-date-input-mask"
					type="text"
					[formControl]="fullDateField"
					[placeholder]="'SHOWCASE.DEMO.DIRECTIVES.INPUT_MASK.TIMESTAMP_MASK.FULL_DATE_DMY_PLACEHOLDER' | translate"
					[starkTimestampMask]="dateMaskConfig"
				/>
			</mat-form-field>

			<mat-form-field>
				<mat-label translate>SHOWCASE.DEMO.DIRECTIVES.INPUT_MASK.TIMESTAMP_MASK.DAY_MONTH_MASK</mat-label>
				<input
					matInput
					id="day-month-input-mask"
					type="text"
					(input)="logChange($event)"
					[placeholder]="'SHOWCASE.DEMO.DIRECTIVES.INPUT_MASK.TIMESTAMP_MASK.DAY_MONTH_PLACEHOLDER' | translate"
					[starkTimestampMask]="dayMonthMaskConfig"
				/>
			</mat-form-field>

			<mat-form-field>
				<mat-label translate>SHOWCASE.DEMO.DIRECTIVES.INPUT_MASK.TIMESTAMP_MASK.MONTH_DAY_MASK</mat-label>
				<input
					matInput
					id="month-day-input-mask"
					type="text"
					[(ngModel)]="monthDay"
					(input)="logModelChange(monthDay)"
					[placeholder]="'SHOWCASE.DEMO.DIRECTIVES.INPUT_MASK.TIMESTAMP_MASK.MONTH_DAY_PLACEHOLDER' | translate"
					[starkTimestampMask]="monthDayMaskConfig"
				/>
			</mat-form-field>

			<mat-form-field>
				<mat-label translate>SHOWCASE.DEMO.DIRECTIVES.INPUT_MASK.TIMESTAMP_MASK.TIME_MASK</mat-label>
				<input
					matInput
					id="time-input-mask"
					type="text"
					[formControl]="timeField"
					[placeholder]="'SHOWCASE.DEMO.DIRECTIVES.INPUT_MASK.TIMESTAMP_MASK.TIME_PLACEHOLDER' | translate"
					[starkTimestampMask]="timeMaskConfig"
				/>
			</mat-form-field>
		</div>
	</example-viewer>
</section>
<stark-reference-block [links]="referenceList"></stark-reference-block>
