/* ============================================================================== */
/*  S t a r k   S e s s i o n   T i m e o u t   W a r n i n g    D i a l o g      */
/* ============================================================================== */
/* stark-ui: src/modules/session-ui/components/_session-timeout-warning-dialog.component.scss */

.stark-timeout-warning-dialog {
  margin: 16px auto;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
}

/* END stark-ui: src/modules/session-ui/components/_session-timeout-warning-dialog.component.scss */
