/* ============================================================================== */
/*  S t a r k   A p p   D a t a  -  T h e m e                                     */
/* ============================================================================== */
/* stark-ui: src/modules/app-data/components/_app-data-theme.scss */

@use "sass:map";
@use "@angular/material" as mat;
@use "../../../../styles/old-variables" as old-vars;

@mixin stark-app-data-theme($material-theme-config, $stark-theme-config) {
  .stark-app-data {
    & .label {
      color: mat.get-color-from-palette(map.get($stark-theme-config, grey-palette), 700);
    }

    &.dropdown {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.4);
    }
  }

  /* ------------------------------------------------ */
  /*             app data "dropdown" mode             */
  /* ------------------------------------------------ */
  .stark-app-data {
    &.dropdown {
      & .stark-app-data-summary {
        padding-top: 4px;

        & .label {
          color: old-vars.$primary-light-text-color;
        }

        & .value {
          color: #fff;
        }
      }
    }
  }

  /* ------------------------------------------------ */
  /*              app data "detail" slot              */
  /* ------------------------------------------------ */
  .stark-app-data.mat-mdc-menu-panel {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);

    & .stark-app-data-detail {
      background-color: #fff;
      color: #000;
    }
  }
}

/* END stark-ui: src/modules/app-data/components/_app-data-theme.scss */
