<h1 class="mat-display-3" translate>SHOWCASE.DEMO.DATE_RANGE_PICKER.TITLE</h1>
<section class="stark-section">
	<h1 translate>SHOWCASE.DEMO.SHARED.EXAMPLE_VIEWER_LIST</h1>
	<example-viewer [extensions]="['HTML', 'TS']" filesPath="date-range-picker/full"
					exampleTitle="SHOWCASE.DEMO.DATE_RANGE_PICKER.TITLE">
		<div>
			<stark-date-range-picker rangePickerId="id-range-picker"
									 rangePickerName="name-range-picker"
									 [isDisabled]="isDisabled"
									 [dateFilter]="customDateFilter"
									 [startDate]="startDate" startDateLabel="STARK.DATE_RANGE_PICKER.FROM"
									 [endDate]="endDate" endDateLabel="STARK.DATE_RANGE_PICKER.TO"
									 [startMinDate]="minDate" [startMaxDate]="maxDate"
									 [endMinDate]="minDate" [endMaxDate]="maxDate"
									 (dateRangeChanged)="onDateChanged($event)">
			</stark-date-range-picker>
		</div>
		<mat-checkbox [(ngModel)]="isDisabled">isDisabled</mat-checkbox>
	</example-viewer>
</section>
<stark-reference-block [links]="referenceList"></stark-reference-block>
