<h1 class="mat-headline-2" translate>SHOWCASE.STYLEGUIDE.HEADER.TITLE</h1>
<section class="stark-section">
	<h1 translate>SHOWCASE.STYLEGUIDE.HEADER.EXPLAINED</h1>
	<p [innerHTML]="'SHOWCASE.STYLEGUIDE.HEADER.STARK_APP_HEADER' | translate"></p>
	<p [innerHTML]="'SHOWCASE.STYLEGUIDE.HEADER.STARK_APP_BAR' | translate"></p>

	<ul>
		<li [innerHTML]="'SHOWCASE.STYLEGUIDE.HEADER.STARK_APP_BAR_CONTENT_LEFT' | translate"></li>
		<li [innerHTML]="'SHOWCASE.STYLEGUIDE.HEADER.STARK_APP_BAR_CONTENT_CENTER' | translate"></li>
		<li [innerHTML]="'SHOWCASE.STYLEGUIDE.HEADER.STARK_APP_BAR_CONTENT_RIGHT' | translate"></li>
		<li [innerHTML]="'SHOWCASE.STYLEGUIDE.HEADER.STARK_APP_BAR_PAGE_TITLE' | translate"></li>
	</ul>
</section>
<section class="stark-section">
	<h1 translate>SHOWCASE.STYLEGUIDE.HEADER.INTEGRATION</h1>
	<p translate>SHOWCASE.STYLEGUIDE.HEADER.INTEGRATION_DETAILS</p>
	<stark-pretty-print [data]="importSCSS" format="css" [enableHighlighting]="true"></stark-pretty-print>
	<p translate>SHOWCASE.STYLEGUIDE.HEADER.COPY_PASTE</p>
	<stark-pretty-print [data]="headerHtml" format="html" [enableHighlighting]="true"></stark-pretty-print>
</section>
