.first-news-image {
  background: url("/assets/images/screenshots/showcase-screenshot.png") no-repeat center center;
  width: 250px;
  height: 60px;
  display: inline-block;
  background-size: contain;
}

.second-news-image {
  background: url("/assets-base/stark_logo_white.png") no-repeat center center;
  width: 250px;
  height: 60px;
  background-size: contain;
}

@media #{$desktop-query} {
  .first-news-image {
    width: 750px;
    height: 200px;
  }
}

@media #{$tablet-only-query} {
  .first-news-image {
    width: 500px;
    height: 100px;
  }
}
