<div class="mat-display-3 ">Stark news</div>
<div class="mat-display-1">Discover here the latest news about the Stark framework!</div>

<news-item [release]="'10.0.0-beta.0'" [newsDate]="'27/09/2018'">
	<div class="news-image second-news-image"></div>
	<h2 class="news-item-title">A very happy occasion</h2>
	<div class="news-item-content">
		<p>Stark Logo was born this week! </p>
		<p>Let's all make a round of applause for our java consultant, Maxime, that had the good idea to mix Angular's pretty logo with the name of our project! </p>
	</div>
</news-item>

<news-item [release]="'10.0.0-beta.0'" [newsDate]="'19/07/2018'">
	<div class="news-image first-news-image"></div>
	<h2 class="news-item-title">Stark News page is finally here! </h2>
	<div class="news-item-content">
		<p>The news page is there, get happy! </p>
		<p>Don't mind me, I'm just an example with a bigger image, just so you know how I look like.  </p>
	</div>
</news-item>
